In [1]:
bmi=data.frame(
gender=c("Male","Male","Female"),
height=c(152,171.5,165),
weight=c(81,93,78),
age=c(66,32,45))
print(bmi)

  gender height weight age
1   Male  152.0     81  66
2   Male  171.5     93  32
3 Female  165.0     78  45

In [2]:
 class(bmi)

[1] "data.frame"

In [3]:
 typeof(bmi)

[1] "list"

In [4]:
attributes(bmi)

$names
[1] "gender" "height" "weight" "age"

$class
[1] "data.frame"

$row.names
[1] 1 2 3

In [5]:
subject=data.frame(
sub=c("iot","science","maths"),
name=c("a","b","c"),
marks=c(65,75,85))
print(subject)

      sub name marks
1     iot    a    65
2 science    b    75
3   maths    c    85

In [8]:
subject=data.frame(
sub=c("iot","science","maths"),
name=c("a","b","c"),
marks=c(65,75,85))
per=marks*100
subject
per

ERROR: Error in eval(expr, envir, enclos): object 'marks' not found

In [7]:
sheet=data.frame(
name=c("a","b","c"),
science=c(85,95,55),
maths=c(66,77,88))
print(sheet)

  name science maths
1    a      85    66
2    b      95    77
3    c      55    88

In [9]:
name<-c('a','b','c')
m<- c(50,50,60)
s<- c(50,50,60)
total = (m+s)
sheet < data.frame(m,s,total)

Warning message in Ops.factor(left, right):
"'<' not meaningful for factors"

     name science maths
[1,] NA   FALSE   TRUE
[2,] NA   FALSE   TRUE
[3,] NA    TRUE   TRUE

In [10]:
sheet <- data.frame(name,m,s,total)
print(sheet)

  name  m  s total
1    a 50 50   100
2    b 50 50   100
3    c 60 60   120

In [11]:
m=c(50,50,60)
s=c(50,50,60)
total = c(m+s)
sheet =data.frame(name,m,s,total)
name=c('a','b','c')
m=c(50,50,60)
s=c(50,50,60)
total = c(m+s)
sheet =data.frame(name,m,s,total)
print(sheet)

  name  m  s total
1    a 50 50   100
2    b 50 50   100
3    c 60 60   120